.bg-dashboard{
    height: 100vh;
    width: 100%;
    background-image: url('../backend/images/home-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
.vertical-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: #ffffff;
}